/* =================================================================================
WAYBAR - Archivo de Estilo CSS Organizado
================================================================================= */
/* --- 1. Estilos Globales --- */

/* Importa los colores de mocha.css */
@import url("mocha.css");

* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 13px;
    margin: 0px;
}

window#waybar {
    color: @text;
    background: @base;
    border-radius: 15px;
    border: 2px solid @surface0;
}

tooltip {
    background: @base;
    border-radius: 12px;
    border: 2px solid @surface0;
}


#custom-launcher {
    font-size: 18px;
    margin-left: 15px;
    margin-right: 10px;
    color: @blue;
    box-shadow: #000000;
}

#custom-launcher:hover {
    color: @sapphire;
}


#custom-dots {
    margin-right: 10px;
    color: @overlay2;
    font-size: 16px;
}

#cpu {
    margin-right: 10px;
    color: @blue;
    background: @surface0;
    border: 2px solid @surface1;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 9px;
    transition: background-color 0.25s ease-in-out,
                border-color 0.25s ease-in-out; /* transición suave */
}

#cpu:hover {
    background: @surface1;
    border: 2px solid @surface2;
}


#memory {
    margin-right: 10px;
    color: @sky;
    background: @surface0;
    border: 2px solid @surface1;
    border-radius: 20px;
    margin-top: 9px;
    margin-bottom: 9px;
    transition: background-color 0.25s ease-in-out,
                border-color 0.25s ease-in-out; /* transición suave */
}

#memory:hover {
    background: @surface1;
    border: 2px solid @surface2;
}

#mpris {
    color: @green;
    background: @surface0;
    border: 2px solid @surface1;
    border-radius: 20px;
    margin-top: 9px;
    margin-bottom: 9px;
    transition: background-color 0.25s ease-in-out,
                border-color 0.25s ease-in-out; /* transición suave */
}

#mpris:hover {
    background: @surface1;
    border: 2px solid @surface2;
}

#custom-notification {
    margin-right: 10px;
    color: @sapphire;
    font-size: 15px;
}

#custom-notification:hover {
    color: @teal;
}

#workspaces {
    margin-right: 10px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 9px;
    margin-bottom: 9px;
}

#workspaces button.empty {
    color: rgb(157, 0, 255);
}

#workspaces button.active {
    color: rgb(217, 0, 255);
}

#workspaces button.default {
    color: rgb(0, 34, 255);
}

/* Workspace urgente */
#workspaces button.urgent {
    color: rgb(94, 255, 0);
}

#workspaces button.special {
    color: rgb(255, 230, 0);
}

#workspaces button.persistent {
    color: rgb(255, 0, 0);
}

#custom-updates {
    font-size: 15px;
    margin-right: 10px;
    color: @flamingo;
    margin-top: 8px;
    margin-bottom: 8px;
}

#bluetooth {
    margin-right: 10px;
    font-size: 14px;
    color: @pink;
    background: @surface0;
    border: 2px solid @surface1;
    border-radius: 20px;
    margin-top: 9px;
    margin-bottom: 9px;
    transition: background-color 0.25s ease-in-out,
                border-color 0.25s ease-in-out; /* transición suave */
}

#bluetooth:hover {
    background: @surface1;
    border: 2px solid @surface2;
}

#pulseaudio {
    margin-right: 10px;
    font-size: 14px;;
    color: @red;
    background: @surface0;
    border: 2px solid @surface1;
    border-radius: 20px;
    margin-top: 9px;
    margin-bottom: 9px;
    transition: background-color 0.25s ease-in-out,
                border-color 0.25s ease-in-out; /* transición suave */
}

#pulseaudio:hover {
    background: @surface1;
    border: 2px solid @surface2;
}

#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: rgb(143, 86, 208);
}

#network {
    margin-right: 10px;
    font-size: 14px;
    color: @maroon;
    background: @surface0;
    border: 2px solid @surface1;
    border-radius: 20px;
    margin-top: 9px;
    margin-bottom: 9px;
    transition: background-color 0.25s ease-in-out,
                border-color 0.25s ease-in-out; /* transición suave */
}

#network:hover {
    background: @surface1;
    border: 2px solid @surface2;
}

#backlight {
    margin-right: 10px;
    font-size: 14px;
    color: @peach;
    background: @surface0;
    border: 2px solid @surface1;
    border-radius: 20px;
    margin-top: 9px;
    margin-bottom: 9px;
    transition: background-color 0.25s ease-in-out,
                border-color 0.25s ease-in-out; /* transición suave */
}

#backlight:hover {
    background: @surface1;
    border: 2px solid @surface2;
}

#battery {
    margin-right: 10px;
    font-size: 14px;
    color: @yellow;
    background: @surface0;
    border: 2px solid @surface1;
    border-radius: 20px;
    margin-top: 9px;
    margin-bottom: 9px;
    transition: background-color 0.25s ease-in-out,
                border-color 0.25s ease-in-out; /* transición suave */
}

#battery:hover {
    background: @surface1;
    border: 2px solid @surface2;
}

#clock {
    margin-right: 10px;
    font-size: 14px;
    color: @green;
    background: @surface0;
    border: 2px solid @surface1;
    border-radius: 20px;
    margin-top: 9px;
    margin-bottom: 9px;
    transition: background-color 0.25s ease-in-out,
                border-color 0.25s ease-in-out; /* transición suave */
}

#clock:hover {
    background: @surface1;
    border: 2px solid @surface2;
}

#custom-power {
    margin-right: 10px;
    font-size: 14px;
    color: @red;
    margin-top: 9px;
    margin-bottom: 9px;
}

#custom-tray-arrow {
    margin-right: 0px;
    font-size: 14px;
    color: @text;
    margin-top: 9px;
    margin-bottom: 9px;
}

