
window {
    border: rgba(221, 170, 255, 0.773) solid 2px;
    border-radius: 13px;
    background: rgba(11, 9, 13, 0.773);

}

#input {
color: #ffffff;
margin: 12px;
font-size: 16px;
padding-bottom: 7px;
padding-top: 7px;
border-radius: 13px;
background: rgba(0, 0, 0, 0);
border: rgba(221, 170, 255, 0.255) solid 2px;
}

#scroll{
color: #ff0000;
margin: 20px; 
}

#entry {
color: #ffffff;
padding: 7px;
margin-top: 8px;
}

#entry:selected {
color: rgb(0, 0, 0);
background: rgb(221, 170, 255);
border-radius: 12px;
}

#img {
color: #ffffff;
}

#text {
    color: #ffffff;
}

#text:selected {
color: rgb(0, 0, 0);
}